@font-face{
    font-family: 'Barlow-Thin';
    src: url(fonts/Barlow-Thin.otf);

}
@font-face{
    font-family: 'Barlow-Black';
    src: url(fonts/Barlow-Black.otf);

}
body{
    font-family: "Barlow-Thin";
}
img{
    width: 100%;
    height: 100%;
}
.fullPage {
    width: 800px;
    height: 100%;
}
.bg{
    width: 50%;
    float: left;
}
.content {
    width: 50%;
    float: right;
    height: 493px;
    padding-top: 30px   ;
}
h3{
    padding-left: 50px;
}
p{
    font-size: 14px;
    padding-left: 50px;
    
}
.line {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.line span {
    
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    padding:  0px 25px;
}
.line:after {
    
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #AFAFAF;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 0;
}
.checkbox{
    position: relative;
    margin-top: 10px;
    margin-left: 45px;
}
.checkLabel{
    padding-top: 10px;
    position: relative;
    font-size: 10px;
}
.input{    
    height: 35px;
    width: 150px;
    text-align: left;
    display: flex;
}
.radioBtn{
    margin-left: 45px;
}
.trust{
    padding-right: 50px;

}
.Phone{
    margin-left: 55px;
}
.Email{
    margin-left: 50px;
}

button{
    border-radius: 10px;
    border: #3698FB;
    
    color: #FFFFFF;
    background-color: #3698FB;
    font-family: "Barlow-Black";
    height: 40px;
    margin-left: 50px;
    width: 150px;
}
